.headerContainer{
    width: 100%;
    height: calc( 100% - 100px );
}

.headerContainer a{
    display: flex;
    justify-content: center;
}

.headerDescription{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5vh 0 25vh 0;
    width: 50vw;
    font-family: var(--font-mono);
    color: var(--font-typo-dark-theme);
}

.paragraphDark{
    font-size: var(--font-paragraph-size);
    line-height: var(--font-paragraph-line-height);
}

.mainTitle{
    font-size: var(--font-h3-size);
    font-weight: bold;
    color: var(--white);
    margin: 10px 0;
}

.highlightWord{
    font-weight: 700;
    color: var(--secondary-rgb);
    background: var(--primary-rgb);
    height: 3rem;
    padding: 10px 20px;
    border-radius: 0.5rem;
    margin-left: 10px;
}

.circle{
    position: absolute;
    filter: blur(360px);
    opacity: 20%;
    top:-40%;
    pointer-events: none;
}
.ctaContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cta{
    background: var(--primary-rgb);
    border-radius: 50%;
    width: 60px;
    cursor: pointer;
    transition:  all 0.3s ease-out;
}

.icons{
    width: 60px;
    height: 60px;
    padding: 10px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .cta:hover{
        transform: translateY(10px);
    }

    .icons svg:hover{
        transform: translateY(5px);
    }
}